<section class="hours hours--vacation">
    <table class="all">
        <thead>

            <th> 
                Update 12-10-2021<br/>
                <br/>
                In de herfstvakantie (18 tot 22 oktober) is het Stadslab op dinsdag en donderdag geopend van 09.00 tot 16.00 uur. Enkel het gebouw is verder dicht, dus er kan geen gebruik gemaakt worden van andere verdiepingen of faciliteiten.<br/>
                <br/>
                Fijne herfstvakantie!<br/>
            </th>

            
        </thead>
       
    </table>
</section>