<section class="hours hours--vacation">
    <table class="all">
        <thead>

            <th> 
                Update 12-07-2021<br/>
                <br/>
                Stadslab dicht tijdens de zomervakantie!<br/>
                Vanaf 19 juli is het Stadslab gesloten! Vanaf 30 augustus zien wij je graag weer op de oude lokatie op Wijnhaven 99. Gebruik ook dan nog steeds onze <a href="https://outlook.office365.com/owa/calendar/Stadslab3@hrnl.onmicrosoft.com/bookings/" title="Stadslab Rotterdam - Booking Tool">booking tool.</a><br/>
                Ook voor externen hopen we weer open te kunnen vanaf 30 augustus. Meer informatie over openingstijden en regels volgt.<br/>
                <br/>
                Fijne zomervakantie!<br/>
            </th>

            
        </thead>
       
    </table>
</section>